@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --josefin-sans: "Josefin Sans", sans-serif;
  --background: #fff1de;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: var(--background);
}

.audio-cont{
  position: absolute;
  z-index: 1;
  display: flex; /*flex*/
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: var(--josefin-sans);
  background-color: var(--background);
}

.loading{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex; /*flex*/
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: var(--josefin-sans);
  background-color: #f1f1f1;
  
}

.canvas-cont{
  max-width: 100vw;
  max-height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}

#canvas3d{
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
}

.text-cont{
  color: #370D70;
  font-family: var(--josefin-sans);
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.text-cont section{
  display: inline;
  width: fit-content;
  /* border: 1px solid black; */
  color: #FE4E7A;
}
